{% macro setup_back_link(label='Back to Setup') %}
  {% if user and user.current_organization_is_live is defined and not user.current_organization_is_live %}
    {% set setup_org_id = request.query_params.get('org_id') if request is defined and request.query_params is defined else none %}
    {% if not setup_org_id %}
      {% set setup_org_id = user.current_organization_id if user.current_organization_id is defined else user.organization_id %}
    {% endif %}
    {% set setup_org_q = '?org_id=' ~ setup_org_id if setup_org_id else '' %}
    <a href="/organization-setup{{ setup_org_q }}" class="setup-back-link">← {{ label }}</a>
  {% endif %}
{% endmacro %}
